{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Informacion de administracion{% endblock %}</h1>
  
{% endblock %}

{% block content %}

  <br>
  <p class="body">numero de usuarios: {{numusers.0}}</p>
  <p class="body">numero de posts: {{numposts.0}}</p>
  <br>
  <hr>
  <h1>Usuarios </h1>
  {% for usuario in usuarios %}
    <article class="post">
        usuario: {{ usuario['username']}} [{{usuario['id']}}] 
       <form action="{{ url_for('blog.deleteuser', id=usuario['id']) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  
  
{% endblock %}