{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <a class="action" href="{{ url_for('blog.zoom', id=post['id']) }}"><h1>{{ post['title'] }}</h1></a>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% elif g.user['username'] == 'josan' %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>  
        {% endif %}
      </header>
      <div>
        {% if post['image'] %}
        <img class="miniature" src="/static/images/{{ post['image'] }}" alt=""></td>
        {% endif %}
      </div>
      <p class="body">{{ post['body'] }}</p>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}