{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>

{% endblock %}
{% block content %}
<article class="post">
    <header>
        <div>
            <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">
                <h1>{{ post['title'] }}</h1>
            </a>
            <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
    </header>
    <div>
        <img class="miniature" src="/static/images/{{ post['image'] }}" alt=""></td>
    </div>
    <p class="body">{{ post['body'] }}</p>
</article>
<hr>
{% endblock %}