{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" >
    <label for="password">Password</label>
    <input type="password" name="password" id="password" >
    
    {% if numadmins[0] != 1 %}

    <label for="admin">Admin SI <input type="checkbox" name="admin" value="1" id="admin"  onclick="onlyOne(this)" checked></label>
    <label for="admin">Admin NO <input type="checkbox" name="admin" value="0" id="admin"  onclick="onlyOne(this)"></label>
    {% endif %}
    

    <input type="submit" value="Register">
  </form>
  <script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
{% endblock %}