<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
  <h1><a class="action" href="{{ url_for('blog.index') }}">Flaskr</a></h1>
  <ul>
    <!--josan podrá acceder a permisos de admin-->
    {% if g.user and g.user['admin'] == 1 %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('blog.admin') }}">Admin</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% elif g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>